.editor {
    display: flex;
    gap: 16px;
}

/* Left */
.layers {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.layers h3 {
    font-size: 20px;
    font-weight: 500;
}

.layers p {
    font-size: 14px;
    color: gray;
    margin-top: 4px;
}

.workspace {
    flex: 3;
}

.options {
    flex: 1;
}